img{
    height: 270px;
    width: 270px;
    position: relative;
    top: 7rem;
}

.swiper-slide{
    height: 370px;
    width: 370px;
    background-color:#eee;
    position: relative;
    top: 7rem;
}













  